@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  border-radius: 4px;
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background: #ffffff;
}

.pick-section-container::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: calc(50% - 1.5px);
  width: 3px;
  height: calc(100% - 150px);
  background-color: #374151;
  z-index: -1;
}

.pick-section-container::before {
  content: "+";
  position: fixed;
  top: 80px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #374151;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
